<!DOCTYPE html>
<html>
  <head>
    <script
           src="https://code.jquery.com/jquery-3.2.1.min.js"
           integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
           crossorigin="anonymous"></script>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="https://use.fontawesome.com/f83971ce92.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
  <body class="page">

    <h1 class="title">Liste des clients: </h1>

    <div class="container">
      <div class="row">

        <% for(var i=0; i<clients.length; i++) { %>
          <div class="contact col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <table>
              <tr>
                <td><img class="avatar img-circle" src="https://lacapsule.academy/wks1/team-<%=i+1%>.jpg"></td>
              <tr>
                <td class="text-center"><i class="fa fa-user" aria-hidden="true"></i></td><td> <%= clients[i].firstName %> <%= clients[i].lastName %></td>
              </tr>
              <tr>
                <td class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i></td><td> <%= clients[i].email %></td>
              </tr>
              <tr>
                <td class="text-center"><i class="fa fa-phone" aria-hidden="true"></i></td><td> <%= clients[i].phone %></td>
              </tr>
              <tr>
                <td class="text-center"><a class="trash" href="./delete?i=<%=i%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
              </tr>
          </table>
          </div>
        <% } %>

      </div>
    </div>

    <div class="action">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>

      <form action="./add">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input placeholder="Prenom" type="text" name="firstName" value="">
        <input placeholder="Nom" type="text" name="lastName" value="">
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input placeholder="Email" type="text" name="email" value="">
        <br>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <input placeholder="Téléphone" type="text" name="phone" value="">
        <br>
        <input class="btn btn-info btn-sm" type="submit" value="valider">
      </form>
    </div>

    <div class="action">
      <i class="fa fa-pencil" aria-hidden="true"></i>

      <form action="./update">
        Propriété:
        <input type="text" name="property" value="">
        <br>
        Nouvelle valeur:
        <input type="text" name="value" value="">
        <br>
        Position:
        <input type="text" name="i" value="">
        <br>
        <input class="btn btn-info btn-sm" type="submit" value="valider">
      </form>
    </div>

  </body>
</html>
